<!DOCTYPE html>
<html lang="en">
<head>
  <title>Word count</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body> 
<div class="container mt-3">

    <a href="{% url 'home' %}" class="btn btn-success">Back to Home</a>
    <br><br>
       <div class="alert alert-dark">
        <h2> Your word is {{count}} and character is {{fulltx}}.  </h2>
        {{text}}
    </div>
    <div class="alert alert-dark">
        <h2>Total word count: {{count}}.</h2>
        {% for word, value in worddictionary %}
        {{word}} = {{value}}<br>
        {% endfor %}
    </div>
    
</div>

</body>
</html>
